extends layout

block content

  include navbar

  .content
    each val in content
      if val.image
        article.large.hasImage(style="background:url('#{val.image}')")
          header
            h2.title #{val.title}
          section.
            #{val.content}
      else
        article
          header
            h2.title #{val.title}
          section.
            #{val.content}
